/*generacl components style*/
body {
    background-color: #f7f7f7 !important;
}
.window {
    background: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.15);
    padding: 8px 20px;
    margin: 8px;
}
.window.radius {
    border-radius: 10px;
}
.window.fullwidth {
    width: 100%;
}
a.submit svg {
    color: #fff !important;
    margin-left: 7px;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #ccc!important;
}
a.submit {
    margin: auto;
    background-color: #ff6666;
    border: 0px solid white;
    outline: none;
    color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    transition: 0.3s all;
    font-weight: 400;
    font-size: 16px;
}
a.submit:hover {
    background-color: #d85656;
    text-decoration: none;
    color: #fff;
}
button.submit {
    margin: auto;
    background-color: #ff6666;
    border: 0px solid white;
    outline: none;
}
button.submit:hover {
    background-color: #d85656;
}
button.submit:active,
button.submit:focus {
    outline: none;
    border: none !important;
    background-color: #d85656 !important;
    box-shadow: none !important;
}
button.cancel {
    background-color: #fff;
    color: #ff6666;
    border: 1px solid #ff6666;
}
button.cancel:hover {
    background-color: #d85656;
    color: #fff;
    border: 1px solid #e75757;
}
button.cancel:active,
button.cancel:focus {
    outline: none !important;
    border: 1px solid #ff6666;
    background-color: #d85656 !important;
    box-shadow: none !important;
}
button.cancel:visited {
    outline: none !important;
    border: none !important;
    background-color: #d85656 !important;
}
.popup_background {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_background.hidden {
    display: none;
}
.popup_background .pay_deposit {
    width: 550px;
}
.popup_background .pay_deposit button {
    margin: 5px 20px;
    width: 80px;
}
.alignLeft {
    text-align: left;
}
.list-group-item .modalButton:hover {
    color: black;
}
.list-group-item {
    border: none !important;
}
.list-group-item:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.list-group-item:first-of-type {
    border-bottom: none !important;
}
.modal-content svg {
    color: #ff6666;
    margin-bottom: 15px;
}
.checked {
    color: #25db9e !important;
}
.false {
    color: #ce3131 !important;
}
.popup_background .achievements .card-body {
    display: flex;
}
#validationFalse {
    display: none;
    color: #ce3131 !important;
    font-weight: 500;
}
.switch {
    margin: 8px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 9px;
    display: inline-block;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.15);
}
.switch span {
    padding: 10px;
    display: inline-block;
    width: 150px;
    color: #6d6d6d;
    cursor: pointer;
}
.switch span:hover {
    color: rgb(61, 61, 61);
}
.switch span.active {
    background-color: #ff6666;
    color: white;
    border-radius: 9px;
    transition: 0.7s all;
}
.spinner-border {
    width: 4em !important;
    border: 0.25em solid #ff6666 !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    width: 3em !important;
    height: 3em !important;
}
/*tooltip*/
.customTooltip {
    position: relative;
    display: inline-block;
    cursor: help;
    color: #1b1b1b;
    text-align: center;
    margin-right: 13px;
    min-width: 130px;
    max-width: 130px;
    margin-top: 10px;
}
.customTooltip svg.checked,
.customTooltip svg.false {
    margin-left: 8px;
}
.customTooltip svg {
    color: #ff6666;
    font-size: 20px;
}
.customTooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.customTooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    font-size: 13px;
    transition: opacity 0.6s;
}
.tooltip-bottom {
    top: 70%;
    left: 20%;
    margin-left: -50px;
}
.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
/*own scroll*/
.customScroll::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
.customScroll::-webkit-scrollbar-thumb {
    background: #989898;
    border-radius: 5px;
}

/* Handle on hover */
.customScroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*checkboxes style*/
.containerInput {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.containerInput input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerInput:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerInput input:checked ~ .checkmark {
    background-color: #ff6666;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerInput input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerInput .checkmark:after {
    left: 9px;
    top: 4px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
/*header*/
header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 7px 1px #bfbfbf;
}
header + div {
    padding-top: 67px;
}
header img.logo {
    width: 60px;
}
header .navbar {
    padding: 0px;
}
header .navbar-brand a {
    color: #ff6666;
}
header .navbar-brand a:hover {
    text-decoration: none;
}
header .nav-link a {
    text-decoration: none;
    color: #303030 !important;
}
/*SANDRY CSS**/
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#trip-title {
    font-family: "Candara Bold", "Candara Regular", "Candara";
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    color: white;
    margin: 0;
    text-align: left;
    left: 0px;
    width: 100%;
    transform-origin: 93.5px 21.5px;
}

.image-text {
    font-family: "Arial tučné", "Arial obyčejné", Arial;
    color: #e1f7d5;
    font-weight: 700;
    font-size: 13px;
    background: rgb(255, 102, 102);
    padding: 7px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 15px;
}

.image-card {
    filter: brightness(100%);
}

.text {
    font-family: "Arial tučné", "Arial obyčejné", Arial;
    color: rgb(255, 102, 102);
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    display: inline-block;
    vertical-align: bottom;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.choosen-icon {
    color: cornflowerblue;
}
/*register page*/
.registerUserForm h3,
.registerUserForm h5 {
    font-weight: 100;
    color: #808080;
    text-align: left;
    margin-top: 10px;
}
.register_container h3 {
    color: #ff6666;
    margin-top: 30px;
}
.registerUserForm .window {
    margin-left: auto;
}
.registerUserForm button {
    margin: auto;
    background-color: #ff6666;
    margin-bottom: 10px;
}
.registerUserForm label,
.login_container label {
    text-align: left;
    display: block;
}
/*login_container*/
.login_form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 500px;
    z-index: 100;
}
.login_form .submit {
    width: 140px;
}
.login_form label.checkbox {
    text-align: center;
    display: inline-block;
}
.login_form .form-check {
    display: inline-block !important;
}
.login_background {
    position: absolute;
    left: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0px;
    z-index: 0;
}
/*index*/
.trips {
    margin-top: 80px;
}
.trip_info {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
}
.trip_info h4 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 99;
    margin-left: 0 !important;
    padding: 8px;
    padding-top: 45px;
    font-size: 14pt;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 00, 0.75) 50%,
        rgba(80, 80, 80, 0.4797269249496674) 87%,
        rgba(255, 255, 255, 0) 100%
    );
}
.card-columns {
    display: flex;
    flex-flow: wrap;
    align-items: top;
    align-content: center;
    justify-content: center;
}
.card-columns .card {
    margin-bottom: 0px !important;
    border: none !important;
}
.card-columns a {
    width: 250px;
    margin: 10px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.15);
}
.card .row {
    padding: 7px;
    margin: 0px !important;
}
.card .price span {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    right: 7px;
    top: 1px;
}
.card .date_stars {
    color: #363636;
    padding: 0px;
    font-size: 11pt;
}
.card .trip_sessions {
    color: #363636;
    font-size: 10pt;
    font-weight: 400;
    padding-bottom: 0px;
}
.card .trip_sessions .col {
    text-align: left;
    margin-left: -5px;
}
.card .dateIcon {
    margin-right: 5px;
    color: #ff6666;
}
/*trip detail*/
#trip_detail {
    margin-top: 50px;
}
#trip_detail .trip_main .image {
    width: 100%;
    padding: 0px;
}
#trip_detail .trip_main .image img {
    width: 100%;
}
.trip_main .trip_info {
    text-align: left;
}
.trip_info .card-title {
    font-size: 14px;
}
.trip_info .card-title svg {
    color: #ff6666 !important;
}
.trip_info .card-title.trip_name {
    font-size: 20px;
}
.trip_info .card-text {
    margin-left: 15px;
}
.trip_info .trip_price {
    color: #ff6666;
    font-size: 25px;
    font-weight: 500;
}
.trip_info .rev-price-buy {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
}
.trip_info button.submit {
    width: 130px;
    padding: 10px 15px;
}
.trip_info .review_element {
    color: #fce23a;
}
/*tripDetail reviews*/
.trip_reviews .review {
    text-align: left;
    margin-top: 20px;
}
.trip_reviews .rev_author svg {
    color: #ff6666;
}
.trip_reviews .rev_author span {
    margin-left: 10px;
}
.trip_reviews .rev_rating {
    text-align: right;
    color: #fce23a;
}
.trip_reviews p.note {
    margin: 0px 20px;
    color: #363636;
}
/*trip detail deposit and minimum level*/
#trip_detail .trip_restriction svg {
    color: #ff6666;
    margin-right: 5px;
}
#trip_detail .trip_restriction p.card-text {
    font-weight: 500;
    font-size: 20px;
}
#trip_detail .trip_restriction .subtitle {
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
}
/*trip validation user*/
.trip_validation {
    max-width: 600px;
    max-height: 87%;
    overflow-y: auto;
    width: 550px;
    padding: 15px 25px;
}
.trip_validation .card-title {
    font-size: 16px;
    margin-bottom: 3px;
}
.trip_validation .card-body {
    padding-top: 0px;
}
.trip_validation .row {
    margin-bottom: 5px;
}
.trip_validation .row:first-of-type {
    margin-top: 15px;
}
.trip_validation .close {
    position: relative;
    cursor: pointer;
}
.trip_validation .validate_error {
    color: #ce3131;
    display: none;
}
.trip_validation input:not(:checked) ~ .validate_error {
    display: block;
}
/*userProfile*/
#userProfileMain {
    margin-bottom: 30px;
}
#userProfileMain .userPhoto {
    width: 250px;
    padding: 15px !important;
    margin: auto;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.15);
}
#userProfileMain .userPhoto img {
    width: 100%;
    border-radius: 8px;
}
#userProfileMain .userLevel {
    color: white;
    /*border-bottom: 35px solid #ff6666;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;*/
    /*height: 0;*/
    position: relative;
    top: -20px;
    width: 285px;
    background-color: #ff6666;
    margin: auto;
    padding: 3px;
}
#userProfileMain .userLevel::after {
    width: 0;
    height: 0;
    border-bottom: 17px solid #d14f4f;
    border-right: 17px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: -17px;
}
#userProfileMain .userLevel::before {
    width: 0;
    height: 0;
    border-bottom: 17px solid #d14f4f;
    border-left: 17px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: -17px;
}
#userProfileMain .progress-bar {
    background-color: #ff6666;
}
#userProfileMain .progress {
    height: 2em;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.15);
}
#userProfileMain .user_info,
#userProfileMain .user_adress {
    text-align: left;
}
#userProfileMain .user_info h5,
#userProfileMain .user_adress h5 {
    margin-top: 2px;
    margin-bottom: 15px;
    margin-left: 5px;
}
#userProfileMain .user_info label,
#userProfileMain .user_adress label {
    margin-bottom: 0px;
    margin-top: 10px;
}
#userProfileMain .window .row {
    padding: 10px 15px;
}
#userProfileMain .user_adress p {
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 5px;
}
#userProfileMain .userMenu {
    margin-top: 35px;
    margin-bottom: 25px;
}
#userProfileMain .userMenu svg {
    color: #ff6666;
}
#userProfileMain .userMenu a {
    color: #525252;
    transition: 0.3s all;
    cursor: pointer;
    text-decoration: none;
}
#userProfileMain .userMenu a:focus:after {
    width: 100%;
    left: 0;
}
#userProfileMain .userMenu a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ff6666;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#userProfileMain .userMenu a:hover:after {
    width: 100%;
    left: 0;
}
/*userTrip*/
#tripsElementBlock {
    margin: 35px 0px;
}
.userTrip.window {
    padding: 0px;
}
.userTrip .tripImage {
    width: 125px;
    height: 125px;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
}
.userTrip .tripImage img {
    margin-left: -25%;
    height: 100%;
}
.userTrip .card-title.h5 {
    text-align: left;
    font-size: 16px;
}
.userTrip .card-text {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    margin-left: 7px;
}
#tripsElementBlock .activeTrips,
#tripsElementBlock .archiveTrips {
    display: none;
}
#tripsElementBlock .react-datepicker-wrapper{
    width: 120px;
}
#tripsElementBlock .activeTrips.active ,
#tripsElementBlock .archiveTrips.active {
    display: block;
}
#tripsElementBlock button.submit.createReview svg{
    color: #fff;
    margin-left: 10px;
}
.archiveTrips .card-text svg {
    color: #ff6666;
}
.archiveTrips .card-text svg:hover {
    color: #ff6666;
}
.archiveTrips .reviewTrip svg {
    color: #ff6666;
}
/*userProfile Achievements*/
.userAchievements .achievements {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.userAchievements .achievements .achievement {
    flex: 1 0 21%;
    margin: 15px;
    text-align: center;
}
.userAchievements .achievements .achievement svg {
    color: #ff6666;
    font-size: 4em;
    margin: auto;
    margin-top: 25px;
}
.userAchievements .achievements .achievement span {
    display: block;
    text-align: center;
}
.userAchievements h6 {
    text-align: center;
    width: 100%;
    font-size: 17px;
    color: #333333;
}
.userAchievements h5 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #333333;
    margin-top: 10px;
}
.userAchievements .circle {
    border: 3px solid #d14f4f;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    margin: auto;
}
.userAchievements .achievements {
    margin-bottom: 20px;
}
.userAchievements .achievements span {
    color: white;
    /*border-bottom: 35px solid #ff6666;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;*/
    /*height: 0;*/
    position: relative;
    top: -20px;
    width: 230px;
    background-color: #ff6666;
    margin: auto;
    padding: 3px;
}
.userAchievements .achievements span::after {
    width: 0;
    height: 0;
    border-top: 17px solid #d14f4f;
    border-right: 17px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: -17px;
}
.userAchievements .achievements span::before {
    width: 0;
    height: 0;
    border-top: 17px solid #d14f4f;
    border-left: 17px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
}

.textHighlight {
    color: black;
    background-color: yellow;
    padding: 0%;
}
/*Trip Search*/
.searchTrip{

}
.searchTrips a{
    color: #252525;
}
.searchTrips a:hover{
    color: #101010;
}
.searchTrips a:hover h4{
    text-decoration: underline;
}
.searchTrips a:hover{
    text-decoration: none!important;
}
.searchTrip .card-body{
    padding: 0px;
}
.searchTrip .card-body .col-5{
    padding-left: 0px!important;
    padding-right: 0px;
}
.searchTrip .card-body .col-7{
    padding: 1.25em;
}
.searchTrip h4{
    text-align: left;
    font-size: 20px;
}
.searchTrip h4+span{
    height: 50px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
.filter .card{
    padding: 15px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .15);
}
.filter .form-group{
    margin-bottom: 0px;
}
.filter form .submit{
    width: 180px;
}
.filter form label{
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 10px;
    font-weight: 500;
}
.filter form .react-datepicker-wrapper{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.range-slider__wrap{
    width:100%;
}
.filter input[type=range].range-slider.range-slider--primary::-webkit-slider-thumb {
    background-color: #ff6666;
}
.addReviewForm input[type=range].range-slider.range-slider--primary::-webkit-slider-thumb {
    background-color: #ff6666;
}
.topLine img{
    width: 100%;
    padding-left: 40px;
    padding-right: 28px;
}
.topLine h4{
    width: 100%;
    padding-left: 50px;
    padding-right: 28px;
    text-align: left;
}
.addReviewForm{
    width: 650px;
    margin:auto;
}
.addReviewForm .closeButton{
    float: right;
}